<nav class="navbar navbar-expand-lg bg-body-tertiary  shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ماد اسکیپ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="bi bi-house"></i> صفحه اصلی  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="bi bi-people"></i> انجمن </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="bi bi-telephone"></i> ارتباط با ما </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <i class="bi bi-list"></i> دسته بندی 
          </a>
          <ul class="dropdown-menu" id="dropdown-menu">
           
          </ul>
        </li>
        </ul>
        <ul class="d-flex">
          <li class="icon">
             <a href="/user/auth"><i class="bi bi-person"></i></a>
          </li>
           <li class="icon">
            <i class="bi bi-search"></i>
          </li>
        </ul>
        
    </div>
  </div>
</nav>

<style>
  .navbar {
    background-color: #00000000 !important;
    padding: 20px;
    font-size: 17px;
  }
  .navbar-brand {
    color: aquamarine !important;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-link {
    color: rgb(255, 255, 255) !important;
    padding-left: 40px !important;
  }
  .nav-link i{
    color: aquamarine;
    font-size: 20px;
  }

  .icon {
      border-color: aqua;
      border-style: solid;
      border-width: 1px;
      padding: 5px;
      width: 42px;
      border-radius: 20px;
      list-style: none;
      color: aquamarine !important;
      cursor: pointer;
      margin-right: 15px;
  }
  .icon a {
      color: aquamarine !important;
  }
  .icon i {
    font-size: 20px;
    margin-right: 5px;
  }
</style>





<script>
async function get_category() {
  const dropdown_menu = document.getElementById('dropdown-menu')
  const result = await fetch('http://localhost:3000/post/get/categorys',{
  method : "GET",
})
 
const categorys = await result.json()
categorys.forEach(category => {
  const item = document.createElement('li')
  const item_href = document.createElement('a')
  const hr = document.createElement('hr')
  hr.classList.add('dropdown-divider')
  item_href.classList.add('dropdown-item')
  item.appendChild(item_href)
  item.appendChild(hr)
  dropdown_menu.appendChild(item)
  item_href.setAttribute('href', `/post/category/${category.name}`)
  item_href.innerText = category.name
});
}

get_category()
</script>