<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <title>ماد اسکیپ</title>

</head>

<body>
    <%- include('partials/navbar') %>

        <div class="container w-100 my-4">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" target="_blank" class="">
                            <img src="http://localhost:3000/images/ads1" alt="تبلیغ ۲" class="img-fluid" />
                        </a>
                    </div>
                    <div>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" class="">
                            <img src="http://localhost:3000/images/ads1" alt="تبلیغ ۲" class="img-fluid" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank" class="">
                            <img src="http://localhost:3000/images/ad" alt="تبلیغ ۲" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        </div>
        <div class="container pb-5">
            <div class="row">
                <div class="col-9 shadow" >
                      <div class="row p-4" id="post_result"> 

                       

                          <div class="card-post">
                            <img src="http://localhost:3000/images/Gtasa_CJ_pc" alt="">
                             <h4>ماد چامپیوتر</h4>
                             <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, non!
                             </p>
                             <a href="#">ادامه مطلاب</a>
                         </div>

                         

  
    
                      </div>
                </div>
                <div class="col-3 shadow" id="category_result">
                  
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.swiper', {
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                scrollbar: {
                    el: '.swiper-scrollbar',
                },
            });


          async function get_posts() {
               const result_post = await fetch('http://localhost:3000/post/get/all', {
                    method: "GET"
                })
                const posts = await result_post.json()
                
                const post_result = document.getElementById('post_result')

                posts.forEach(post => {
                  const div = document.createElement('div')
                  div.classList.add('card-post')

                  div.innerHTML = `
                            <img src="http://localhost:3000/images/${post.img_path}" alt="">
                             <h4> ${post.title} </h4>
                             <p>
                               ${post.description}
                             </p>
                             <a href="#">ادامه مطلاب</a>
                  `
                post_result.appendChild(div)

                });

          }


          get_posts()


        async function get_category() {
             const result_cat = await fetch("http://localhost:3000/post/get/categorys", {
                method : "GET"
             })

             const data_cat = await result_cat.json()

             const result_sub_cat = await fetch("http://localhost:3000/post/get/sub/categorys", {
                method : "GET"
             })

             const data_sub_cat = await result_sub_cat.json()

 
                const category_result = document.getElementById('category_result')

             data_cat.forEach(cat => {
                const ul = document.createElement('ul')
                ul.classList.add('DropDown', 'shadow',)
                ul.innerHTML = `
                        ${cat.name}
                `

                const lis = data_sub_cat.filter(sub => sub.category_id == cat.id )
                lis.forEach(sub => {
                    const li = document.createElement('li')
                    li.classList.add('my-3')
                    ul.appendChild(li)
                    li.innerHTML = `
                    <a href="#">${sub.name}</a>
                    `
                })                

                category_result.appendChild(ul)
             })
             
             
        }

        get_category()
        </script>
</body>

</html>