@font-face {
    font-family: vazir;
    src: url('./Vazir-Bold.ttf');
}


*{
    font-family: vazir;
}

body {
       background-color: #050404dc !important;
       color: white;
}

.swiper {
  height: 350px;
}

.swiper-slide img {
  width: 100% !important;
  height: 100%;
  border-radius: 10px;
}
.ad-image-box img{
  width: 400px;
  height: 142px;
  border-radius: 10px;
}