@font-face {
    font-family: vazir;
    src: url('./Vazir-Bold.ttf');
}


*{
    font-family: vazir;
}

body {
       background-color: #121212;
       color: white;
}

.swiper {
  height: 400px;
}

.swiper-slide img {
  width: 100% !important;
  height: 100%;
  border-radius: 10px;
}
.ad-image-box img{
  width: 400px;
  border-radius: 10px;
}


.card-post{
  max-width: 300px !important;
  border-radius: 28px;
  height: 400px;
  background-color: rgba(49, 47, 47, 0.199);
  position: relative;
  margin: 6px;
  transition: 0.5s;
}

.card-post:hover { 
  margin-top: -5px;
  box-shadow: 0 1px 10px 1px rgba(0, 140, 255, 0.733);
  transition: 0.5s;
}

.card-post img {
 width: 300px;
 border-top-left-radius: 28px;
 border-top-right-radius: 28px;
 margin-right: -12px;
}

.card-post h4 {
  text-align: center;
  padding-top: 16px;
  font-size: 20px;
}

.card-post p {
  text-align: center;
  padding-top: 20px;
}

.card-post a {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 140, 255);
  padding: 10px;
  position: absolute;
  right: 200px;
  top: 355px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  transition: 0.5s;
}

.card-post a:hover {
  color: #121212;
  background-color: rgb(0, 174, 255);
  transition: 0.5s;
}

.card-post span {
  position: absolute;
  top: 140px;
  right: 20px;
  color: #000;
}

.card-post .create_time {
position: absolute;
  top: 360px;
  right: 20px;
  color: white;
}

.DropDown {
  text-align: center;
  border-radius: 20px;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background-color: #1c1c1c;
}

.DropDown li {
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.4s ease;
  padding: 12px 0;
  display: none;
}

.DropDown li:hover {
  background-color: #389bd4;
}

.DropDown li a {
  text-decoration: none;
  color: #ffffff;
}

.DropDown:hover li {
  display: block;
  transform: translateY(0);
  pointer-events: auto;
  box-shadow: 0 1px 10px 1px rgba(0, 140, 255, 0.733);
}
