@font-face {
    font-family: vazir;
    src: url('./Vazir-Bold.ttf');
}


*{
    font-family: vazir;
}

body {
            background-color: #121212;

       color: white;
}

.swiper {
  height: 400px;
}

.swiper-slide img {
  width: 100% !important;
  height: 100%;
  border-radius: 10px;
}
.ad-image-box img{
  width: 400px;
  border-radius: 10px;
}